<div>
    <!--<table class="table table-striped table-bordered table-condensed">-->
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Name</th>
                <th>Supplier Id</th>
                <th>Category Id</th>
                <th>Quantity Per Unit</th>
                <th>Unit Price</th>
                <th>Units In Stock</th>
                <th>Units On Order</th>
                <th>Reorder Level</th>
                <th>Discontinued</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.values">
                <td><label ng-bind="item.productId" /></td>
                <td><label ng-bind="item.name" /></td>
                <td><label ng-bind="item.supplierId" /></td>
                <td><label ng-bind="item.categoryId" /></td>
                <td><label ng-bind="item.quantityPerUnit" /></td>
                <td><label ng-bind="item.unitPrice" /></td>
                <td><label ng-bind="item.unitsInStock" /></td>
                <td><label ng-bind="item.unitsOnOrder" /></td>
                <td><label ng-bind="item.reorderLevel" /></td>
                <td><label ng-bind="item.discontinued" /></td>
            </tr>
        </tbody>
    </table>
</div>